<html>
<head>
	<style>
	#header {
    background-color:#00E6B8;
    color:white;
    font-family:helvetica;
    text-align:center;
    padding:5px;
	}

	#blank {
    line-height:30px;
    background-color:#eeeeee;
    height:700px;
    width:400px;
    float:left;
    padding:5px; 
}

	#section {
	font-family: helvetica;
	height:700px;
    width:600px;
    float:left;
    padding:10px; 
}
	</style>
</head>

<body>

<div id="header">
<h1 style="font-size:500%">(his + her) story</h1>
<h2>a tool for finding wedding inspirations based on the story of how you met</h2>

</div>

<div id="blank">
</div>

<div id = "section">
<form method="GET">

<font style="bold" size="5pt">how did you meet your better half?</font><br>
<input type="text" class="container" value="We both love to read and met in our college bookstore." wrap="hard" name="Met" style="height:300px; width:550px">
<br>
<br>
<br>
<font style="bold" size="5pt">what wedding inspirations do you have?</font><br>
<input type="text"  class="container" name="Type" style="height:300px; width:550px" value="I would like a romantic wedding with rustic elements.">
<br>
<br>
<br>
<!--
<font style="bold" size="5pt">What styles do you like?</font><br><br>
<input type="checkbox" name="style" value="rustic" class="chk">Rustic
<input type="checkbox" name="style" value="destination" class="chk">Destination
<input type="checkbox" name="style" value="vintage" class="chk">Vintage
<input type="checkbox" name="style" value="theme" class="chk">Theme
<input type="checkbox" name="style" value="traditional" class="chk">Traditional
<input type="checkbox" name="style" value="modern" class="chk">Modern
<input type="checkbox" name="style" value="classic" class="chk">Classic
<input type="checkbox" name="style" value="rebellious" class="chk">Rebellious
<input type="checkbox" name="style" value="minimalist" class="chk">Minimalist
<input type="checkbox" name="style" value="extravagant" class="chk">Extravagant
-->
<input type="submit" value="Submit" style="width:200px; height:400px; font-size:400pt">
</form>
</div>

</body>
</html>